# Dependencias de Node.js
node_modules/

# Configuración de entorno
.env
cert.key
cert.pem
docker-compose.yml
docker-compose-old.yml


# Archivos compilados de TypeScript
dist/

# Logs y caché
npm-debug.log
yarn-debug.log
